# Flask
FLASK_DEBUG=1

# Base de datos (PostgreSQL)
DATABASE_URL=postgresql://usuario:password@localhost:5432/ecommerce_mascotas

# Redis
REDIS_URL=redis://localhost:6379/0

# JWT (RS256) - Se almacenan en src/keys/ pero estan ignoradas en .gitignore
JWT_PRIVATE_KEY_PATH=src/keys/private.pem
JWT_PUBLIC_KEY_PATH=src/keys/public.pem
JWT_ALGORITHM=RS256
JWT_EXP_MINUTES=30
